body {
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}

.left {
    width: 25vw;
    height: 100vh;
    float: left;
    position: relative;
    padding-left: 25px;
    background: #009688;
}

.middle {
    width: 50vw;
    height: 100vh;
    background: #4DB6AC;
    position: relative;
    float: left;
}

.right {
    width: 25vw;
    height: 100vh;
    float: left;
    background: #009688;
    position: relative;
    padding-left: 25px;
}

.zlam {
    position: absolute;
    left: 40%;
    bottom: 40%;
}

#btn_startstop {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#btn_audio {
    position: absolute;
    right: 90px;
    bottom: 10px;
}